@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    background-color: #396E94;
    color: white;
    display: inline-block;
    padding: 35px;
    vertical-align: middle;
    text-decoration: none;

}

nav a:hover {
    background-color: black;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10 1fr);
}

#background {
    height: 725px;
    background-color: #396E94;
}
body {
    background-color: #F4D21E;
    font-family: 'Montserrat', sans-serif, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #F4D21E;
    display: grid;
    grid-template-columns: 150px auto;
}

header nav {
    background-color: #396E94;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.home-tittle {
    font-family: 'Kalam', cursive, 'Trebuchet MS';
    font-size: 2em;
    margin-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: white;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.book, .join {
    background-color: #396E94;
    color: white;
    display: inline-block;
    padding: 15px 30px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: black;
    color: white;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

.msg {
    background-color: #F4D21E;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    background-color: #396E94;
    padding: 0.5em;
    color: white;
    font-family: 'Kalam', cursive, 'Trebuchet MS';
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #396E94;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

footer a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}