@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    background-color: #396E94;
    color: white;
    display: inline-block;
    padding: 35px;
    vertical-align: middle;
    text-decoration: none;

}

nav a:hover {
    background-color: black;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#background {
    height: 725px;
    background-color: #396E94;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #F4D21E;
    font-family: 'Montserrat', sans-serif, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #F4D21E;
    display: grid;
    grid-template-columns: 150px auto;
}

header nav {
    background-color: #396E94;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.home-tittle {
    font-family: 'Kalam', cursive, 'Trebuchet MS';
    font-size: 2em;
    margin-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: white;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.book, .join {
    background-color: white;
    color: black;
    border: solid 2px black;
    display: inline-block;
    padding: 15px 30px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: black;
    color: white;
    border: solid 2px white;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #172d3c;
}

.msg {
    background-color: #FAA512;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #172d3c;
}

.msg h2 {
    padding: 0.5em;
    color: black;
    font-family: 'Kalam', cursive, 'Trebuchet MS';
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #396E94;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

footer a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

.social a:hover {
    transition: transform .1s;
    transform: scale(1.3);
    background-color: #396E94;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

/* RESPONSIVE SCREEN */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

.faq-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.table-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.questions {
    padding: 30px;
}

#banner-text {
    text-align: center;
    margin-top: -65px;
    padding-bottom: 100px;
    font-family: 'Kalam', cursive, 'Trebuchet MS';
    font-size: 2.5em;
}

.table-contents a {
    color: white;
    text-decoration: none;
    font-family: 'Kalam', cursive, 'Trebuchet MS';
}

.table-contents a:hover {
    color: #F4D21E;
    text-decoration: none;
}

.table-contents h2 {
    background-color: #396E94;
    border-radius: 3px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-family: 'Kalam', cursive, 'Trebuchet MS';
}

.table-contents h3:hover {
    transform: scale(1.05);
    transition: transform .8s;
}

.accordion {
    background-color: #396E94;
    padding: 5px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Kalam', cursive, 'Trebuchet MS';
}

.panel {
    padding-bottom: 30px
}